---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import { siteConfig } from "../config/config.site-config";
import TypedBlogPost from "src/components/typedBlogPost.astro";

const blogPosts = await getCollection('blog', (post)=> post.data.isDraft === false);
console.log(blogPosts)




---

<MainLayout title="Orkan Blog">
	<h1 class="text-9xl
	text-white">{siteConfig.title}</h1>

    <a class="mr-2" href="/blog/1">Blog Paginado</a>
    <a class="mr-2" href="/authors">Autores</a>

	<!-- component -->
<section class="text-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
          
        {
            blogPosts.map((post) => <TypedBlogPost post={post}/>)
        }
         
       

      
        </div>
    </div>
</section>
</MainLayout>

<style>
    a {
      @apply text-blue-500 hover:underline
    }
  

  </style>